# See http://help.github.com/ignore-files/ for more about ignoring files

.phpunit.result.cache
composer.lock
phpDocumentor.phar
.phpdoc/
api/
assets/
coverage/
demo/
deploy/
logos/
vendor/
outsource/
shell/
