# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# custom
composer.lock
phpDocumentor.phar
/api
/assets
/coverage
/demo
/deploy
/vendor
/outsource

# System Files
.DS_Store
Thumbs.db
