# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# custom files
files
versions
images.php
composer.lock
phpDocumentor.phar

# custom folders
api
assets
third-party

# exclude
!/third-party/geoplugin.class

# System Files
.DS_Store
Thumbs.db
